@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.fab {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}
/*   MAIN  */
.main-accueil {
  background-image: url("images/Fond.jpg");
  background-size: cover;
}
.main-content {
  background: rgba(255, 255, 255, 0.6);
}

.main-visiteur {
  background-image: url("images/Fond2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*FORM*/

.form-body {
  background: rgba(255, 255, 255, 0.9);
}

/* Espace abonne*/
.espace-abone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* CARD */
.fiche-capsule {
  background: rgba(255, 255, 255, 0.9);
}
.card-image {
  position: relative;
  z-index: 0;
}
.btn-card {
  font-size: 12px;
}
#zoom {
  transition: all 0.5s;
}
#zoom:hover {
  transform: scale(1.3);
}
/* Responsive */

/* Portable < 576px  - XS */
@media screen and (max-width: 576px) {
  #zoom {
    width: 200px;
  }
  .collection h1 {
    font-size: 25px;
  }
  .espace-abone {
    margin-top: 2rem;
  }
  .sm-pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .nav-link,
  .dropdown-item {
    font-size: 25px;
  }
}

/* Paysage portable 576px et plus - SM*/
@media screen and (min-width: 576px) {
  .card-description {
    font-size: 10px;
  }
  .collection h1 {
    font-size: 30px;
  }
}

/* Tablette 768px et plus - MD*/
@media screen and (min-width: 768px) {
  .collection h1 {
    font-size: 35px;
  }
}

/* Desktop 992px et plus - LG*/
@media screen and (min-width: 992px) {
  .nav-link {
    font-size: 14px;
  }
  .numero-vign {
    font-size: 12px;
  }
}

/* Ecran large 1200px et plus - XL */
@media screen and (min-width: 1200px) {
  #zoom {
    max-width: 150px;
  }
  .fiche-cart {
    max-width: 220px;
  }
}
