/* Responsive */

/* Desktop 1200px */
@media screen and (max-width: 1200px) {
  .footer-about {
    flex: 70%;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .menu-item {
    margin: 0 40px;
  }
}

/* Tablette */
@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey);
    background-color: #fff;
    cursor: pointer;
  }
}

/* Paysage portable 600px */
@media screen and (max-width: 600px) {
}

/* iPhone 6/7/8 PLUS/ 11 */

@media screen and (max-width: 414px) {
  .footer-about,
  .footer-utile,
  .footer-contact {
    flex: 100%;
  }
  .footer-about p {
    padding: 0 15px;
  }
}
