:root {
  /* palette */
  --light-grey: rgba(83, 78, 78, 0.69);
  --grey: #534e4e;
  --lien: #1600a0;

  /* ombre */

  --light-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-box: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--darkest);
}
li {
  list-style-type: none;
}
.btn {
  border-radius: 5px;
  border: 0.5px solid var(--light-grey);
  -webkit-box-shadow: var(--light-shadow);
  box-shadow: var(--light-shadow);
  padding: 2px 8px;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  background-color: #fff;
  cursor: pointer;
}
/*-------------------- Grid --------------*/
.grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}
main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}
footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background: #c4c4c4;
}

/*___________  HEADER ______________*/

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #c4c4c4;
  padding: 40px 0;
}
.header_title h1 {
  font-size: 36px;
  line-height: 41px;
  font-weight: 400;
}

.espace_abone {
  position: absolute;
  right: 34px;
  top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: auto;
}
.espace_abone > * {
  margin-bottom: 6px;
}
.espace_abone input {
  -webkit-box-shadow: var(--light-shadow);
  box-shadow: var(--light-shadow);
  border: 0.5px solid var(--light-grey);
  border-radius: 3px;
}

.espace_abone input[type="email"],
.espace_abone input[type="password"] {
  width: 100%;
  padding: 2px 7px;
  color: var(--grey);
}
.espace_abone a {
  color: var(--lien);
}
.avertissement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
  -webkit-box-shadow: var(--light-shadow);
  box-shadow: var(--light-shadow);
  padding: 20px 0;
}
.avertissement p {
  margin-bottom: 15px;
}
/* Demande d'inscription */
.form-dem-inscription {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}
/* Afficher formulaire onClick*/
.form-dem-inscription.open-modal {
  visibility: visible;
  z-index: 10;
}

.form-dem-container {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: var(--light-shadow);
  box-shadow: var(--light-shadow);
}

.form-dem-legend {
  font-size: 24px;
  line-height: 21px;
  padding: 30px 12px 50px;
  font-weight: 400;
}
.formCloseBtn {
  width: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.form-dem-champ {
  margin-bottom: 15px;
}
.form-dem-content input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.111);
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
}
.form-dem-container textarea {
  width: 100%;
  height: 265px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.111);
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
}
.form-dem-btn {
  padding: 10px 20px;
}

/*___________  MAIN ______________*/

main.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  background-size: cover;
  background-attachment: fixed;
}
/* Présentation */
.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.presentation h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.presentation_fonc,
.dating,
.presentation_txt {
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  text-align: center;
  line-height: 1.5;
}
.presentation_info {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}
.presentation_txt {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}
/* NEWS */

.news_container {
  margin: 50px 10px;
}
.news_container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}
.news_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
}
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  max-width: 575px;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  padding: 24px;
}
.news p {
  line-height: 1.4;
}
.news a {
  color: var(--lien);
}
.news > * {
  margin-bottom: 10px;
}
.news-big-article {
  max-width: 1200px;
}

/*___________  FOOTER ______________*/

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
}
.footer-liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.footer-about,
.footer-utile,
.footer-contact {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.footer-about > *,
.footer-utile > *,
.footer-contact > * {
  margin-bottom: 10px;
}
.utile-liens li {
  margin-bottom: 10px;
}

.copyright {
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
}
