:root {
  /* palette */
  --light-grey: rgba(83, 78, 78, 0.69);
  --grey: #534e4e;
  --lien: #1600a0;

  /* ombre */

  --light-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-box: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Responsive */

/* Desktop 1200px */
@media screen and (max-width: 1200px) {
  .footer-about {
    flex: 70%;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .menu-item {
    margin: 0 40px;
  }
}

/* Tablette */
@media screen and (max-width: 800px) {
  .header_top {
    gap: 20px;
    z-index: 9;
    position: fixed;
    width: 100%;
  }
  main.admin,
  footer {
    margin-top: 121px;
  }

  .menu-mobil {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 45px;
  }
  .header_menu {
    background-color: #c4c4c4;
    position: absolute;
    top: -100%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    box-shadow: var(--light-shadow);
    z-index: 1;
  }
  .header_menu.open {
    top: 120px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey);
    background-color: #fff;
    cursor: pointer;
  }
  .abone {
    background-color: #fff;
    width: 100%;
    text-align: center;
  }
  .espace_abone {
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 10px 0;
  }
  .espace_abone > * {
    margin-bottom: 0;
  }
  .espace_user {
    margin-top: 10px;
  }
  .menu {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding: 0;
    width: 100%;
  }
  .menu-item {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.097);
  }
  .menu-item:hover .sub-menu {
    position: initial;
    display: block;
  }
  .sub-menu {
    width: 100%;
  }
  .sub-menu a {
    padding: 0;
  }
  .sub-menu li {
    width: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.097);
  }
  .recherche {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 20px 0;
  }

  .recherche > * {
    margin-bottom: 20px;
  }

  .recherche-checks {
    gap: 10px;
  }
  .select-vigneron,
  .search {
    width: 340px;
  }
}

/* Paysage portable 600px */
@media screen and (max-width: 600px) {
}

/* iPhone 6/7/8 PLUS/ 11 */

@media screen and (max-width: 500px) {
  .menu-mobil {
    width: 35px;
  }
  .header_menu.open {
    top: 90px;
  }
  .header_top {
    padding-bottom: 10px;
  }
  .header_title h1 {
    font-size: 20px;
    transform: translate(-18%, -30%);
  }

  .recherche-checks {
    gap: 17px;
  }

  .select-vigneron,
  .search {
    width: 270px;
  }
  .footer-about,
  .footer-utile,
  .footer-contact {
    flex: 100%;
  }
  .footer-about p {
    padding: 0 15px;
  }
}
