/* Responsive */



/* Desktop 1200px */
@media screen and (max-width: 1200px) {
  .news{
    max-width: 425px;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .news{
    max-width: 365px;
  }
}

/* Tablette */
@media screen and (max-width: 768px) {
  .presentation{
    flex-wrap: wrap;
}
.news{
  flex: 100%;
  max-width: none;
}

/* Paysage portable 600px */
@media screen and (max-width: 600px) {
}

/* iPhone 6/7/8 PLUS/ 11 */

@media screen and (max-width: 414px) {
}
