:root {
  /* palette */
  --light-grey: rgba(83, 78, 78, 0.69);
  --grey: #534e4e;
  --lien: #1600a0;
 
  /* ombre */

  --light-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-box: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--darkest);
}
li {
  list-style-type: none;
}
.btn {
  border-radius: 5px;
  border: 0.5px solid var(--light-grey);
  box-shadow: var(--light-shadow);
  padding: 2px 8px;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  background-color: #fff;
  cursor: pointer;
}
/*-------------------- Grid --------------*/
.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background: #c4c4c4;
}

/*___________  HEADER ______________*/

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
  padding: 40px 0;
}
.header_title h1 {
  font-size: 36px;
  line-height: 41px;
  font-weight: 400;
}

.espace_abone {
  position: absolute;
  right: 34px;
  top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
}
.espace_abone > * {
  margin-bottom: 6px;
}
.espace_abone input {
  box-shadow: var(--light-shadow);
  border: 0.5px solid var(--light-grey);
  border-radius: 3px;
}

.espace_abone input[type="email"],
.espace_abone input[type="password"] {
  width: 100%;
  padding: 2px 7px;
  color: var(--grey);
}
.espace_abone a {
  color: var(--lien);
}
.avertissement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
  box-shadow: var(--light-shadow);
  padding: 20px 0;
}
.avertissement p {
  margin-bottom: 15px;
}
/* Demande d'inscription */
.form-inscription{
  position: absolute;
  background-color: #fff;
  margin: 0 auto;
}
.form-container textarea {

width: 445px;
height: 265px;
resize : none;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
}

/*___________  MAIN ______________*/

main.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  background-size: cover;
  background-attachment: fixed;
}
/* Présentation */
.presentation {
  display: flex;
}
.presentation h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.presentation_fonc,
.dating,
.presentation_txt {
  padding: 20px;
  margin: 10px;
  box-shadow: var(--shadow-box);
  text-align: center;
  line-height: 1.5;
}
.presentation_info {
  flex: 50%;
}
.presentation_txt {
  flex: 50%;
}
/* NEWS */

.news_container {
  margin: 50px 10px;
}
.news_container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}
.news_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  max-width: 575px;
  box-shadow: var(--shadow-box);
  padding: 24px;
}
.news p {
  line-height: 1.4;
}
.news a {
  color: var(--lien);
}
.news > * {
  margin-bottom: 10px;
}

/*___________  FOOTER ______________*/

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
}
.footer-liens {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.footer-about,
.footer-utile,
.footer-contact {
  flex: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-about > *,
.footer-utile > *,
.footer-contact > * {
  margin-bottom: 10px;
}
.utile-liens li{
  margin-bottom: 10px;
}

}
.copyright {
  padding: 15px 0;
  text-align: center;
  background-color: var(--ivory);
}
