.wrap-table100 {
  width: auto;
  display: grid;
  place-items: flex-start;
  height: 100%;
}
.table {
  width: 100%;
  display: table;
  margin: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.row {
  display: table-row;
  background: #fff;
}
.row.header {
  background: #c4c4c4;
}

.cell {
  display: table-cell;
}

.row .cell {
  width: auto;

  text-align: center;
  font-size: 15px;
  color: #000;
  line-height: 1.2;
  font-weight: unset !important;
  padding: 20px 5px;
  border-bottom: 1px solid #f2f2f2;
}
.row.header .cell {
  width: auto;
  text-align: center;
  font-size: 13px;
  color: #000;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.table,
.row {
  width: 100% !important;
}
.row:hover {
  background-color: #ececff;
  cursor: pointer;
}
